# VARIABLES DE ENTORDNO DEL PROYECTO
# TODO: HACER QUE LOS RECURSOS SEAN CONFIGURABLES EN EL MISMO ARCHIVO

# SERVICE INFORMATION
SERVICE_NAME=
ENVIRONMENT=devolopment
VERSION=0.0.1

# DATABASE CONFIGURATION
DB_HOST=
DB_USERNAME=
DB_PASSWORD=

# AMPQ CONFIGURATION
AMQP_HOST=
AMQP_PORT=
AMQP_USER=
AMQP_PASSWORD=
AMQP_EXCHANGE=
AMQP_ROUTING_KEY=

# KEY AND SECURITY CONFIGURATION
KEY_SIZE=3072  # ESTA SIEMPRE CONFIGURADA EN 3072 POR AHORA 'QTUM-SAFE'
PRIVATE_KEY_FILENAME=
PUBLIC_KEY_FILENAME=




